---
import { i18n } from 'src/i18n';
import Icon from './Icon.astro';

interface Post {
  slug: string;
  frontmatter: {
    date: Date;
    url: string;
    external: boolean;
    title: string;
  };
}

export interface Props {
  posts: Post[];
}

const lang = i18n.getLangFromUrl(Astro.url);
---

<ul>
  {
    Astro.props.posts.map((post) => {
      const formattedDate = new Date(post.frontmatter.date).toLocaleDateString(
        lang,
        {
          year: 'numeric',
          month: 'short',
          day: 'numeric',
        }
      );

      return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <div class="title">
            {post.frontmatter.external ? (
              <a
                href={post.frontmatter.url}
                target="_blank"
                class="unset
                      transition-[background-size] duration-300 
                      bg-gradient-to-r bg-left-bottom bg-no-repeat
                      bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                    "
              >
                <span>{post.frontmatter.title}</span>
                <span>
                  <Icon
                    name="up-right-from-square"
                    class="ml-1 mr-1 w-[12px] h-[12px] fill-text-body"
                  />
                </span>
              </a>
            ) : (
              <a
                href={`/${lang}/articles/${post.slug}`}
                class="unset
                      transition-[background-size] duration-300 
                      bg-gradient-to-r bg-left-bottom bg-no-repeat
                      bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                      from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                    "
              >
                {post.frontmatter.title}
              </a>
            )}
          </div>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={post.frontmatter.date.toISOString()}>
              {formattedDate}
            </time>
          </div>
        </li>
      );
    })
  }
</ul>
